
{% extends "base.html" %}
{% block main %}


<form method="POST" action={{ url_for(".login") }}>
    <input type="text" name="user_name" placeholder="user_name">
    <button type="submit">提交</button>
</form>

{% endblock %}