
{% extends "base.html" %}
{% block main %}

 <div id="content">
        <div class='panel'>
            <div class='header topic_header'>
        <span class="topic_full_title">
			{{ topic.title }}
      	</span>
                <div class="changes">
            <span>
                发布于 2 天前
            </span>
                    <span>
                {% set u = topic.user() %}
                作者
                <a href="{{ url_for('index.user_detail', id=u.id) }}">
                    {{ u.username }}
                </a>
        	</span>
                    <span>
          	    {{ topic.views }} 次浏览
        	</span>
                    <span>
                来自 问答
            </span>
                </div>
            </div>

            <div class='inner topic'>
                <div class='topic_content'>
                    <div class="markdown-body"></div>
                    {{ topic.content |markdown |safe}}
                </div>
            </div>
        </div>
    </div>

    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>
                <!-- 过滤器 -->
                {{ topic.replies() | count }} 回复
            </span>
        </div>
        {% for r in topic.replies() %}
            {% set u = r.user() %}
            <div class='cell reply_area reply_item'>
                <div class='author_content'>
                    <a href="{{ url_for('index.user_detail', id=u.id) }}" class="user_avatar">
                        <img src="https://avatars2.githubusercontent.com/u/10721874?v=3&amp;s=120"
                             title="{{ u.username }}"/>
                    </a>
                    <div class='user_info'>
                        <a class='dark reply_author'>
                            {{ u.username }}
                        </a>
                        <a class="reply_time">
                            {{ loop.index }}楼 / {{ loop.length }}楼 •
                            <span class="gua-time" id="{{ r.ct }}"></span>
                        </a>
                    </div>
                    <div class='user_action'>
                    <span>
                        <i class="fa up_btn
                          fa-thumbs-o-up
                          invisible" title="喜欢"></i>
                        <span class="up-count">
                        </span>
                    </span>
                    </div>
                </div>
                <div class='reply_content from-leiwei1991'>
                    <div class="markdown-text"></div>
{#                    <div class="markdown-text"></div>#}
                </div>
            </div>
        {% endfor %}
        <div>
            <form action="{{ url_for('reply.add') }}" method="post">
                <input type="hidden" name="topic_id" value="{{ topic.id }}">
                <textarea name="content"></textarea>
                <button>添加回复</button>
            </form>
        </div>
    </div>
</div>
</body>

<script class='gua-markdown' type='text/plain'>
{{ topic.content | safe }}

</script>
{% for r in topic.replies() %}
<script class='gua-markdown' type='text/plain'>
{{ r.content | safe }}
</script>
{% endfor %}


{% endblock %}